<div class="modal-wrapper" id="delete-user-message-modal">
  <div class="modal">
    <a onclick="closeModal01()" class="modal-close">+</a>
    <div class="modal-title">
      <h2>Are you want to delete this user?</h2>
    </div>
    <div class="modal-body">
      <form id="add-conversation-form">
        <input
          type="text"
          placeholder="search user by name or email or mobile"
          name="user"
          id="user"
          autocomplete="off"
        />
        <p class="error"></p>
        <div class="search_users"></div>
        <input type="submit" value="Submit" class="hide" />
      </form>
    </div>
  </div>
</div>
<script>

const modal01 = document.querySelector("#delete-user-message-modal");



function closeModal01() {
  modal01.style.display = "none";
  // reset
  // users_placeholder.style.display = "none";
  // input.value = "";
}

function deleteModal() {
  modal01.style.display = "block";
}
  
</script>