<div id="search-container">
    <form id="search-conversation-form">
        <input
          type="text"
          placeholder="Search"          
          name="search_user"
          id="search_user"
          autocomplete="off"
        />
        <p class="error_search"></p>
        <div class="search_users_main"></div>
        <input type="submit" value="Submit" class="hide" />
    </form>

    <!-- <input type="text" placeholder="Search" /> -->
</div>