<div id="search-container">
    <form id="search-conversation-form">
        <input
          type="text"
          placeholder="Search"          
          name="search_user"
          id="search_user"
          autocomplete="off"
        />
        <p class="error_search"></p>
        <div class="search_users_main"></div>
        <input type="submit" value="Submit" class="hide" />
    </form>

    <!-- <input type="text" placeholder="Search" /> -->
</div>

<script>
  const doneTypingInterval_search = 500;
  const input_search = document.querySelector("input#search_user");
  const conversation_list_search = document.querySelector("#conversation-list");
  let users_placeholder_search = document.querySelector(".search_users");
</script>